---
const daysOfWeek = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];

import {DayOfTheWeek} from "../components/ReactThing";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		{
			// Converts string to template literal when pressing '{'
            daysOfWeek.map((day) => <p>{`Day of week: ${day.charAt(0).toUpperCase()}${day.slice(1)}`}</p>)
		}
		{
			// Does not like the return and won't allow me to insert '{'
            daysOfWeek.map((day) =>  {
                        return (
							<p>{"Day of week: $"}</p>
                        );
            })
        }
	<DayOfTheWeek />
	</body>
</html>
